@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html, body
{
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	font-family: "Open Sans";
	min-width: 1000px;
}

body
{
	background-image: url("./img/background.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #111111;
	position: relative;
}

.page
{
	width: calc(100% - 40px);
	max-width: 1200px;
	margin: auto;
}

#topmenu
{
	background: rgba(25,25,25,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.05);
	min-height: 60px;
	color: #ffc68f;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

#social
{
	display: inline-block;
	font-size: 20px;
}

#social .media
{
	padding: 12px 10px;
	display: inline-block;
}

#social .media a
{
	color: inherit;
}

/* TEMP DISCORD */
#social .media img
{
	position: relative;
	top: 2px;
}

#meta
{
	display: inline-block;
	margin-left: 10px;
}

#meta a
{
	color: inherit;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 10px;
}

#meta a i
{
	color: #ff6600;
	padding-right: 3px;
}

#meta a:after
{
	content: '';
	display: block;
	height: 1px;
	width: 0;
	background: #ff6600;
	transition: all .3s ease-in-out;
}

#meta a:hover:after
{
	width: 100%;
}

#menu
{
	text-transform: uppercase;
	font-weight: 600;
}

#menu a
{
	margin: 0px 10px;
	padding: 22px 0px;
	display: inline-block;
	font-size: 12px;
	color: inherit;
	text-decoration: none;
	transition: all .2s ease-in-out;
}

#menu a i
{
	font-size: 9px;
	font-style: normal;
}

#menu a i.fa
{
	font-size: 14px;
}

#menu a:hover
{
	color: #ff6600;
}

#menu a.selected
{
	color: #ff6600;
	border-bottom: 2px solid #ff6600;
	padding-bottom: 19px
}

@media only screen and (min-width: 1370px)
{
	#header
	{
		height: 220px;
		color: #ffc68f;
	}

	#logo
	{
		padding: 30px 10px;
		position: relative;
		width: 500px;
	}

	#logo .logoTtl, #logo .logoStl
	{
		font-weight: 700;
		font-size: 32px;
		text-transform: uppercase;
	}

	#logo .logoTtl
	{
		position: absolute;
		top: 70px;
		left: 160px;
		transition: all .2s ease-in-out;
	}

	#logo .logoStl
	{
		position: absolute;
		top: 110px;
		left: 140px;
		border-bottom: 5px solid #ff6600;
		transition: all .2s ease-in-out;
	}

	#logo a:hover .logoTtl
	{
		left: 170px;
	}

	#logo a:hover .logoStl
	{
		left: 150px;
	}

	#partners
	{
		margin-top: 80px;
	}

	#partners i
	{
		position: relative;
		bottom: 25px;
	}

	#partners img
	{
		padding: 0px 15px;
	}
}

@media only screen and (max-width: 1369px)
{
	#header
	{
		height: 140px;
		color: #ffc68f;
	}

	#logo
	{
		padding: 15px 10px;
		position: relative;
		width: 300px;
	}

	#logoImg
	{
		width: 100px;
		height: auto;
	}

	#logo .logoTtl, #logo .logoStl
	{
		font-weight: 700;
		font-size: 20px;
		text-transform: uppercase;
	}

	#logo .logoTtl
	{
		position: absolute;
		top: 55px;
		left: 110px;
		transition: all .2s ease-in-out;
	}

	#logo .logoStl
	{
		position: absolute;
		top: 80px;
		left: 95px;
		border-bottom: 3px solid #ff6600;
		transition: all .2s ease-in-out;
	}

	#logo a:hover .logoTtl
	{
		left: 120px;
	}

	#logo a:hover .logoStl
	{
		left: 105px;
	}

	#partners
	{
		margin-top: 40px;
	}

	#partners i
	{
		position: relative;
		bottom: 15px;
	}

	#partners img
	{
		padding: 0px 15px;
		width: 80px;
		height: auto;
	}
}

#logo .logoStl b
{
	font-weight: inherit;
}

#logo a
{
	color: inherit;
}

#head
{
	color: #ffc68f;
	border: 1px solid rgba(255,255,255,0.05);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#intro
{
	background-image: url("./img/general.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 450px;
	text-align: center;
	padding: 50px;
	box-sizing: border-box;
}

#intro .title
{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

#intro .title b
{
	font-weight: inherit;
	color: #ff6600;
}

#subscription
{
	padding: 40px;
}

#subscription .title
{
	font-weight: 800px;
	text-transform: uppercase;
	font-size: 58px;
	text-shadow: 0px 1px 0px #996c41, 0px 2px 0px #996c41, 0px 3px 0px #996c41;
}

#subscription .title a
{
	color: #ff6600;
	text-shadow: 0px 1px 0px #833400, 0px 2px 0px #833400, 0px 3px 0px #833400, 0px 0px 100px #ff6600;
	text-decoration: none;
	transition: all .2s ease-in-out;
}

#subscription .title a:hover
{
	text-shadow: 0px 1px 0px #833400, 0px 2px 0px #833400, 0px 3px 0px #833400, 0px 0px 100px #ff6600, 0px 0px 200px #ff6600;
}

.darkbg
{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #111111;
	opacity: 0;
	z-index: 100;
	transition: all .5s ease-in-out;
}

#games
{
	border-collapse: collapse;
	position: relative;
	z-index: 200;
}

#games tr td
{
	background-position: center center;
	padding: 0px;
	width: 300px;
	height: 169px;
	box-sizing: border-box;
	position: relative;
	background-size: cover;
}

#games .name
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	background: rgba(0,0,0,0.7);
	text-transform: uppercase;
	padding: 10px;
	padding-left: 20px;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

#games .name i
{
	color: #ff6600;
	padding-right: 5px;
}

#games .name a
{
	color: inherit;
	text-decoration: none;
	display: inline-block;
}

#games .name a:after
{
	content: '';
	display: block;
	height: 1px;
	width: 0;
	background: #ff6600;
	transition: all .3s ease-in-out;
}

#games .name a:hover:after
{
	width: 100%;
}

#content
{
	color: #ffc68f;
	background: #0c0c0c;
	border: 1px solid rgba(255,255,255,0.05);
	font-size: 13px;
}

#content a
{
	color: #ff6600;
	text-decoration: none;
}

#content a:hover
{
	text-decoration: underline;
}

.container
{
	padding: 20px;
}

#content .leftcol
{
	width: 70%;
	box-sizing: border-box;
	float: left;
}

#content .rightcol
{
	width: 30%;
	box-sizing: border-box;
	float: right;
	border-left: 1px solid rgba(255,255,255,0.05);
}

#content .rightcol, #content .leftcol
{
	padding: 10px;
}

#content h1
{
	text-transform: uppercase;
	font-size: 14px;
	margin: 0px;
	padding-left: 20px;
}

#content h1 i
{
	color: #ff6600;
	padding-right: 3px;
}

#content h3
{
	text-transform: uppercase;
	font-size: 13px;
	margin: 0px;
	padding: 10px 0px;
}

#content p
{
	margin: 10px 0px;
	text-align: left;
}

#content b
{
	font-weight: inherit;
	color: #ff6600;
}

.top_ban
{
	width: 100%;
	height: 200px;
}

.quote
{
	text-align: center;
	width: 600px;
	margin: auto;
	padding: 20px;
}

.quote .qcontent
{
	font-size: 24px;
	color: #ff6600;
	display: inline-block;
	font-style: italic;
	font-family: "Permanent Marker";
}

.quote .qcontent i
{
	font-family: "Open Sans";
	font-size: 46px;
	line-height: 20px;
	position: relative;
	top: 15px;
	padding: 0px 10px;
	font-style: normal;
}

.quote .qauthor
{
	display: block;
	font-size: 12px;
	text-align: right;
}

.smallquote
{
	font-size: 11px;
	font-style: italic;
	opacity: 0.5;
}

.error
{
	color: #d00000;
	text-align: left;
	padding: 5px 0px;
}

.error i
{
	padding-right: 5px;
}

.form
{
	padding: 0px 20px;
	text-align: center;
}

.form_table
{
	display: inline-block;
	text-align: left;
}

.form_table tr td
{
	padding: 10px;
	vertical-align: top;
}

.form_table tr td:first-of-type
{
	width: 105px;
}

.form .g-recaptcha
{
	display: inline-block;
}

.line_table
{
	width: 100%;
}

.line_table td:nth-of-type(2)
{
	width: 1px;
	white-space: nowrap;
	padding: 0px 20px;
}

hr.line
{
	width: 100%;
	height: 1px;
	background: #ff6600;
	border: 0px;
	display: inline-block;
	padding: 0px;
	margin: 0px;
	margin-bottom: 4px;
}

input, textarea, select
{
	padding: 8px 10px;
	width: 522px;
	box-sizing: border-box;
	background: #0c0c0c;
	border: 1px solid #ffc68f;
	color: #ff6600;
	transition: all .2s ease-in-out;
}

input[type="radio"]
{
	width: 10px;
	position: absolute;
 	left: -1000px;
}

input[type="radio"] + label
{
	position: relative;
	padding-left: 20px;
	cursor: pointer;
}

input[type="radio"] + label:before
{
	content: '';
	position: absolute;
	left: 0px;
	top: 2px;
	width: 12px;
	height: 12px;
	border: 1px solid #ffc68f;
}

input[type="radio"] + label:after
{
	content: '';
	position: absolute;
	left: 2px;
	top: 4px;
	width: 10px;
	height: 10px;
	background-color: #ff6600;
	opacity: 0;
	transition: all .5s;
}

input[type="radio"]:checked + label:after
{
	opacity: 1;
}

input:focus, input:hover, textarea:focus, textarea:hover
{
	border: 1px solid #ff6600;
}

.form button, #content a.button
{
	border: 1px solid #ffc68f;
	padding: 10px 40px;
	font-weight: 700;
	color: #ffc68f;
	background: #0c0c0c;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.form button:hover, #content a.button:hover
{
	color: #0c0c0c;
	background: #ffc68f;
	text-decoration: none;
}

.playercard, .buttoncard
{
	display: inline-block;
	width: 500px;
	height: 60px;
	box-sizing: border-box;
	border: 1px solid #ffc68f;
	margin: 5px;
	vertical-align: middle;
	position: relative;
}

.playercard
{
	text-align: left;
	padding: 5px;
}

.buttoncard
{
	text-align: center;
	cursor: pointer;
	padding: 20px;
}

.buttoncard:hover
{
	background-color: #ffc68f;
	color: #0c0c0c;
}

.playercard .playername
{
	display: inline-block;
	font-weight: bold;
	color: #ff6600;
	margin: 15px;
}

.playercard .playertype
{
	display: inline-block;
	float: right;
	opacity: 0.5;
	margin: 15px;
}

.playercard input
{
	width: 100%;
	margin-top: 6px;
}

.cardoption
{
	position: absolute;
	top: 0px;
	right: 5px;
}

.dropdown
{
	position: absolute;
	z-index: 10;
	background: rgba(12,12,12,0.9);
	border: 1px solid #ffc68f;
	margin: 0px;
	width: 488px;
	border-top: 0px;
	list-style: none;
	padding: 0px;
	box-sizing: border-box;
}

.dropdown li
{
	padding: 5px 16px;
	cursor: pointer;
}

.dropdown li:hover
{
	background: #ffc68f;
	color: #0c0c0c;
}

.playercard .playerschool
{
	opacity: 0.5;
	float: right;
}

.contact
{
	display: inline-block;
	border: 1px solid #ffc68f;
	text-align: left;
	width: 500px;
	box-sizing: border-box;
	padding: 10px;
	margin: 10px;
	transition: all .2s ease-in-out;
}

.contact .cname
{
	display: inline-block;
	font-weight: 300;
	font-size: 20px;
}

.contact .cname i
{
	padding-right: 10px;
}

.contact .crank
{
	display: inline-block;
	opacity: 0.5;
	font-style: italic;
	font-size: 11px;
}

.contact .cmail
{
	display: inline-block;
	padding-top: 10px;
}

.contact span
{
	color: #ffc68f;
	transition: all .2s ease-in-out;
}

.contact:hover
{
	background: #ffc68f;
}

.contact:hover span
{
	color: #0c0c0c;
}

.break
{
	clear: both;
	border: 0px;
}

#footer
{
	margin-top: 30px;
	color: #ffc68f;
	background: #0c0c0c;
	border-top: 1px solid rgba(255,255,255,0.05);
	text-align: center;
	font-size: 12px;
	padding: 30px;
}

#footer a
{
	color: #ff6600;
	text-decoration: none;
	display: inline-block;
}

#footer a:after
{
	content: '';
	display: block;
	height: 1px;
	width: 0;
	background: #ff6600;
	transition: all .3s ease-in-out;
}

#footer a:hover:after
{
	width: 100%;
}

#footer .separator
{
	margin-bottom: 15px;
}

#footer .sepline
{
	display: inline-block;
	border: none;
	height: 1px;
	width: 200px;
	background: #ff6600;
	margin: 3px 25px;
}

#footer a.smplink:after
{
	display: none;
}